.contact
  %div{style: 'background-color:rgba(0,0,0,0.4); min-height:100%; padding:32px; width:100%;'}
    .row
      .large-12.columns
        .display-table{style: 'width:100%; padding:22px;'}
          .va-align
            %h5 Would you like to get in touch?
            %h4 info@craftacademy.se

.footer
  .row
    .large-12.columns
      .footer-social
        %i.fi.fi-social-facebook
        %i.fi.fi-social-twitter
        %i.fi.fi-social-instagram
        %i.fi.fi-social-linkedin
      © CraftAcademy Labs 2015.
