-#.intro
-#  .row
-#    .large-12.columns
-#      %div{style: 'background-color:rgba(0,0,0,0.4); min-height:100%; width:100%;'}
-#        .display-table{style: 'height:600px; width:100%;'}
-#          .va-align
-#            %div
-#              Know | Your | Traffic
-#            %br/
-#            %h2 Analytics Visualizer
-#            %br/
-#            %br/
-#            %button.orange-bg.button GET STARTED
.about
  .row
    .large-12.columns
      %h3
        Google Analytics
        %span.orange
          %b VISUALIZER
      %h6
        Analytic insights about your website traffic straight to you inbox -
        %span
          %strong for free!
.info
  .row
    .large-12.columns
      %h4 Check out the best that Analytics Visualizer has to offer
      %h6 How can increased insights help you make better decisions?
      = link_to 'CONNECT ACCOUNT', setup_path, class: 'orange-bg button'
.team
  %h3.text-center
    Subscription
    %span.orange
      %strong OPTIONS
  %h4.text-center.orange
    %strong Work In Progress - coming in January 2017
  .row
    .medium-4.large-4.columns
      .team-member
        = image_tag 'report-icon.png'
        %div
          %h5 Monthly
          %p FREE!
          Free monthly insights report delivered to your inbox.
    .medium-4.large-4.columns
      .team-member
        = image_tag 'report-icon.png'
        %div
          %h5 Weekly
          %p 5 USD/month
          Weekly insights report delivered to your inbox or pushed out to your Slack channel.
    .medium-4.large-4.columns
      .team-member
        = image_tag 'report-icon.png'
        %div
          %h5 Daily
          %p 15 USD/month
          Daily insights report delivered to your inbox or pushed out to your Slack channel.
.subscribe
  .row
    .large-12.columns
      %h4 Sign up for Beta account
      %p
        We are currently in development and will be pushing oout new features throughout December 2016.
        If you sign up before the official launch of the
        %span.orange
          %strong VISUALIZER
        you'll get our Weekly insights reports for
        %span.orange
          %strong FREE
        until June 2017.
      .row.small-uncollapse.large-collapse#subscribe_form
        .large-11.columns
          %input{placeholder: 'Your Email', type: 'text', id: 'email'}/
        .large-1.columns
          %button.orange-bg.button{id: 'subscribe'} Subscribe




