!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8',  html: {equiv: 'Content-Type'}}
    %title Visualizer
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', data: {turbolinks: {track: 'reload'}}
    = javascript_include_tag 'application', data: {turbolinks: {track: 'reload'}}
    %link{href: 'https://fonts.googleapis.com/css?family=Quicksand', rel: 'stylesheet', type: 'text/css'}/
  %body
    = yield
